@model ControlAcademicoMvc.Models.Estudiante

<h2>Detalle del Estudiante</h2>

<div>
    <p><strong>Carne:</strong> @Model.Carne</p>
    <p><strong>Nombre:</strong> @Model.Nombre</p>
    <p><strong>Promedio:</strong> @Model.Promedio</p>
</div>

<a href="/Estudiante/Listar" class="btn btn-secondary">Volver a la lista</a>